name: VaR and Dashboard Pipeline

on:
  schedule:
    - cron: '0 * * * *'  # Ejecuta cada hora
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Verify installed dependencies
      run: |
        pip show jinja2
        pip show pandas
        pip show plotly

    - name: Run tests
      run: |
        python -m unittest discover -s tests

    - name: Preprocess data
      run: |
        python src/data_preprocessing.py

    - name: Calculate VaR
      run: |
        python src/var_calculation.py

    - name: Generate Dashboard
      run: |
        python src/dashboard_generation.py

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
